[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cryptography = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
coverage = "*"
flake8 = "*"
isort = "*"
ruff = "*"
responses = "*"
mypy = "*"

[requires]
python_version = "3.11"
